.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
.grid-item {
  border: 1px solid lightgrey;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.colspan-full {
  grid-column-start: 1;
  grid-column-end: 5;
}
.colspan-75-left {
  grid-column-start: 1;
  grid-column-end: 4;
}
.colspan-75-right {
  grid-column-start: 5;
  grid-column-end: 2;
}
.colspan-50-left {
  grid-column-start: 1;
  grid-column-end: 3;
}
.colspan-50-right {
  grid-column-start: 3;
  grid-column-end: 5;
}
.colspan-50-center {
  grid-column-start: 2;
  grid-column-end: 4;
}
