.flex-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 10px;
}
.flex-container-list > ul,
li {
  display: flex;
  margin: 0px;
}
.flex-container-list > ul > li {
  padding: 10px;
}
.flex-container-list > ul > li:hover {
  background-color: #b36619;
  transition-duration: 1s;
}
.flex-container-list > ul > li > a {
  text-decoration: none;
  color: #078ab3;
}
.flex-container-list > ul > li > a:hover {
  color: #3dd1ff;
}
