@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Colors
$white: white;
$smoked: whitesmoke;
$lightgrey: lightgrey;
$darkgrey: darkgrey;
$deepblue: #078ab3;
$nutbrown: #b36619;

// Fonts
$size_1: 30px;
$size_2: 18px;
$size_3: 14px;

// Containers
$witdh_1: 300px;
$height_1: 80px;

// Fonts Family
$roboto: "Roboto Condensed", sans-serif;
$montserrat: "Montserrat", sans-serif;
