@import "_variables.scss";

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: $smoked;
  font-family: $montserrat;
  border-radius: 3px;
  padding: 1em;
  h1 {
    color: $deepblue;
    text-align: center;
    font-size: $size_1;
    font-family: $roboto;
  }
  .row-form {
    display: flex;
    justify-content: center;
    .column-form {
      display: flex;
      flex-direction: column;
      padding: 1em;
      .input-form-group {
        display: flex;
        > label {
          font-size: $size_3;
          margin-right: 1em;
          padding: 0 0;
        }
        span {
          color: red;
        }
      }
    }
  }
  input,
  select,
  textarea {
    border: 1px solid $lightgrey;
    font-family: $montserrat;
    font-size: $size_3;
    padding: 0.6em;
    margin-bottom: 2em;
    flex: 2;
  }
  textarea {
    height: 100px;
  }
  button {
    padding: 1em;
    background: $deepblue;
    font-family: $roboto;
    font-size: $size_3;
    width: 30%;
    color: white;
    border: 0px;
    &:hover {
      background-color: $nutbrown;
    }
  }
  fieldset {
    border: 1px solid $lightgrey;
    background: white;
    legend {
      text-align: center;
      margin-bottom: 0.5em;
      font-family: $roboto;
      color: $nutbrown;
    }
  }
  .support > label,
  .disabilities > label {
    display: block;
    font-size: $size_3;
  }
  .support,
  .disabilities {
    padding: 10px;
  }
}
