@mixin colspan($start: 1, $end: 5) {
  grid-column: #{$start} / #{$end};
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 400px 300px 500px 300px 300px 300px;
  grid-gap: 1%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 10%;
}
.grid-item {
  border: 1px solid lightgrey;
}
img {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
}
.img-500 {
  height: 500px;
}
.img-400 {
  height: 400px;
}
.img-300 {
  height: 300px;
}
.colspan-full {
  @include colspan(1, 5);
}
.colspan-75-left {
  @include colspan(1, 4);
}
.colspan-75-right {
  @include colspan(5, 2);
}
.colspan-50-left {
  @include colspan(1, 3);
}
.colspan-50-right {
  @include colspan(3, 5);
}
.colspan-50-center {
  @include colspan(2, 4);
}
