@import "_variables.scss";

.flex-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $smoked;
  margin: 10px 0 10px 0;
  font-family: $montserrat;
  ul {
    display: flex;
    margin: 0px;
  }
  ul li {
    padding: 20px;
  }
  ul li:hover {
    background-color: $nutbrown;
    transition-duration: 1s;
  }
  ul li a {
    text-decoration: none;
    color: $deepblue;
  }
  ul li a:hover {
    color: $white;
  }
}
