@import "_variables.scss";

.flex-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $opacity_smoked;
  margin: 10px 0 10px 0;
  font-family: $montserrat;
  ul {
    display: flex;
    margin: 0px;
  }
  ul li {
    padding: 20px;
  }
  ul li:hover {
    background-color: $nutbrown;
    transition-duration: 1s;
  }
  ul li a {
    text-decoration: none;
    color: $deepblue;
  }
  ul li a:hover {
    color: $white;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .flex-container-list {
    ul li {
      font-size: $size_3;
    }
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .flex-container-list {
    display: block;
    ul {
      display: block;
      text-align: center;
      li {
        padding: 10px;
        font-size: $size_3;
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .sticky {
    position: relative;
  }
}
